

    {{#each spots}}
    {{!-- <ul class=`spots{{id}}`> --}}
        <div class='spot-container'>
            <button class='spot-buttons' data-id={{ id }}>{{ id }}</button>
            <p>City: {{ city }}</p>
            <p class="spot">Spot: {{ name }}</p>
            <p>Spot description: {{ description }}</p>
            {{#if cross_street}}
            <p>Cross streets: {{ cross_street }}</p>
            {{/if}}
            <p>Security: {{ security_guards }}</p>
            {{#if security_guards}}
            <p>Security present:{{ security_when }}</p>
            {{/if}}
        </div>
    {{!-- </ul> --}}
    {{/each}}



<script src="/assets/js/api.js"></script>
