<ul class='spots'>

        {{#each spots}}
            <button>{{ id }}</button>
            <li class="spot">Spot: {{ name }}</li>
            <li>Spot Description: {{ description }}</li>
            {{#if cross_street}}
            <li>Cross Street: {{ cross_street }}</li>
            {{/if}}
            <li>Security Guards:{{ security_guards }}</li>
            <li>When is going to have Security:{{ security_when }}</li>

        </li>
        {{/each}}

    </ul>

    <h1></h1>