<ul class='spots'>

    {{#each spots}}
        <button class='spot-buttons' data-id={{ id }}>{{ id }}</button>
        <li>City: {{ city }}</li>
        <li class="spot">Spot: {{ name }}</li>
        <li>Spot description: {{ description }}</li>
        {{#if cross_street}}
        <li>Cross streets: {{ cross_street }}</li>
        {{/if}}
        <li>Security: {{ security_guards }}</li>
        {{#if security_guards}}
        <li>Security present:{{ security_when }}</li>
        {{/if}}
    </li>
    {{/each}}

</ul>


<script src="/assets/js/api.js"></script>
