<h1>Sk8Tool</h1>

<div class="title">
    <div id='current-time'></div>
    <div id='current-weather'></div>
    <h2>Welcome to Sk8Tool.</h2>
    <p>Use our tools to find Skateshops, Skateparks or access our list of user added Skatespots near and far. Enter a city to find out what's near you now or where you'd like to go</p>
</div>

<div id='button-bar' class='button-bar'>
    <input class='city-input' id='city-input' type="text">
    <button class='nav-btn' id="parks-btn">Parks</button>
    <button class='nav-btn' id="shops-btn">Shops</button>
    <button class='nav-btn' id="view-spots">View-Spots</button>
    <a href='/add-spot'><button class='nav-btn' class='home-btn' id="home-btn">Add-Spot</button></a>
    <button class='nav-btn' id="weather-btn">Weather</button>
</div>

<div class="class">
    <ul class='spots'>

        {{#each spots}}
            <button>click</button>
            <li>City: {{ city }}</li>
            <li class="spot">Spot: {{ name }}</li>
            <li>Spot description: {{ description }}</li>
            {{#if cross_street}}
            <li>Cross streets: {{ cross_street }}</li>
            {{/if}}
            <li>Security: {{ security_guards }}</li>
            {{#if security_guards}}
            <li>Security present:{{ security_when }}</li>
            {{/if}}
        </li>
        {{/each}}

    </ul>

    <div class="map" style="width: 500px; height: 500px;"></div>
</div>
<footer>
    <p>©Sk8Tool made by: </p>
    <p id='name-links'><a href='https://github.com/DanielYu0864' target='blank'>Daniel Yu,  </a><a href='https://github.com/tronciu92' target='blank'>Vasile Tronciu, and  </a><a href='https://github.com/PeteLow-13' target='blank'>Pete Low  </a></p>
</footer>
<script src="http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyDmZhf4Cy3XVS_6hruDDGNfWfd0Uaxfxp4" type="text/javascript"></script>
<script src="/assets/js/view-spots.js"></script>